.footer-card-container {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    align-items: center;

    .footer-card-title {
        padding: 10px;
        color: rgb(0,0,0);
    }

    .footer-card-links {
        width: 100%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(0,0,0);
        font-weight: lighter;
        
        .footer-card-link {
            text-decoration: none;
        }
        .footer-card-link {
            &:visited {
                color: rgb(0,0,0);
            }
            &:hover {
                color: rgb(131, 207, 17);
            }
        }
    }
}